/* Marketplace */
body[class*="marketplace"] {
  font-family: var(--root-font, sans-serif);
}

.wk-mp-collection-seller-title {
  padding: 0 160px;
}

.header.content {
  .logo {
    @media (min-width: 769px) {
      margin-bottom: 0;
    }
  }
}

.top-container {
  max-width: 100vw;
  padding: 0;
}



/* Topo Fixo */
body {
  overflow: visible;
  box-sizing: border-box;
  font-family: var(--root-font);
}

* {
  box-sizing: border-box;
}

.cms-home .page-title {
  display: none !important;
}

.page-wrapper {
  position: relative;
}

.page-header {
  margin: 0;
  padding: 0;
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 999;
  background: #fff;
}

.page-main {
  max-width: var(--viewport);
  margin: 0 auto;
}

.panel.header {
  display: none;
}

/* Logo */
.header.content {
  .logo {
    @media (max-width: 768px) {
      margin: 0 0 10px 34px;
    }
    img {
      height: 78px;
      width: auto;
      @media (max-width: 768px) {
        max-height: 55px;
        height: auto;
      }
    }
  }
}

