<div class="grid-banner gridbanner">
  <!-- Categories Box -->
  <ul class="banner-list list">
    <li class="banner-item item -livros-pearson">
      <a href="/catalogsearch/result/?q=+pearson" class="banner-link link">
        <img is="lazy-loadable"
          loading="lazy" 
          lazyload="1" 
          importance="low" 
          srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
          src="<?php echo $block->getViewFileUrl('images/banner-grid/pearson.png'); ?>"
          class="img"
          width="269" 
          height="430" 
          alt="Livros Pearson"
        >
        <span class="text">Livros Pearson</span>
      </a>
    </li>
    <li class="banner-item item -produtos-licenciados">
      <a href="/o-que-sao-slms" class="banner-link link">
        <img is="lazy-loadable"
          loading="lazy" 
          lazyload="1" 
          importance="low" 
          srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
          src="<?php echo $block->getViewFileUrl('images/banner-grid/banner-licenciados_2.png'); ?>"
          class="img"
          width="554" 
          height="205"
          alt="Produtos Licenciados"
        >
        <span class="text">Produtos Licenciados</span>
      </a>
    </li>
    <li class="banner-item item -manipulativos">
      <a href="/sala-de-aula/manipulativos" class="banner-link link">
        <img is="lazy-loadable"
          loading="lazy" 
          lazyload="1" 
          importance="low" 
          srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
          src="<?php echo $block->getViewFileUrl('images/banner-grid/manipulativos.png'); ?>"
          class="img"
          width="554" 
          height="205" 
          alt="Manipulativos"
        >
        <span class="text">Manipulativos</span>
      </a>
    </li>
    <li class="banner-item item -compre-por-ano">
      <a href="/catalogsearch/result/?q=+kit+livros" class="banner-link link">
        <img is="lazy-loadable"
          loading="lazy" 
          lazyload="1" 
          importance="low" 
          srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg=="
          src="<?php echo $block->getViewFileUrl('images/banner-grid/kit_livro.png'); ?>"
          class="img"
          width="269" 
          height="430" 
          alt="Compre por Ano"
        >
        <span class="text">Compre por Ano</span>
      </a>
    </li>
    
  </ul>
</div>