.container_student {
    display: flex;
    flex-direction: column;
}

.container_student .field {
    order: 1;
}

#remember-me-box {
    display: none;
}


 /*Student Modal*/
 
 .modal-fade-student {
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    display: none;
 }

 .student-link-product {
    width: 30vw;
    height: auto;
    background: #fff;
    left: 50%;
    position: fixed;
    top: 25vh;
    margin-left: -15vw;
    padding: 30px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 9999;
 }
 
 #confirm_student {
    float: right;
 }