<?php /** @var Webkul\MpAssignProduct\Block\Buybox\Product\View $block */ ?>
<?php if ($block->canDisplayBuyboxBlock()): ?>
    <div class="wk-loading-mask wk-display-none">
        <div class="wk-loader"></div>
    </div>
    <div id="buybox-wrapper" class="buybox-wrapper box-tocart">
        <div id="buybox-sellers-list-label" class="buybox-sellers-list-label">
            <span><?= __('Escolha uma loja abaixo e compre:') ?></span>
        </div>
        <div id="buybox-content" class="buybox-content">
            <div id="buybox-sellers" class="buybox-sellers">
                <?php foreach($block->getAssignedItems() as $assignedItem): ?>
                    <div class="seller-container">
                        <label>
                            <span>
                                <input type="radio" name="addtocartproduct" class="buybox-radio"
                                       data-price="<?= $block->toCurrency($assignedItem->getPrice()) ?>"
                                       data-shop-title="<?= $block->getSellerShopTitle($assignedItem->getSellerId()) ?>"
                                       data-product-id="<?= $assignedItem->getId() ?>"
                                       data-assign-product-id="<?= $assignedItem->getAssignProductId() ?>"
                                       data-add-to-cart-url="<?= $block->getAddToCartUrl($assignedItem->getAssignProductId()) ?>" />
                            </span>
                        </label>
                        <div class="title-wrapper">
                            <span class="shop-title"><?= $block->getSellerShopTitle($assignedItem->getSellerId()) ?></span>
                            <span class="shop-price"><?= $block->toCurrency($assignedItem->getPrice()) ?></span>
                        </div>
                    </div>
                <?php endforeach; ?>
            </div>
            <div id="buybox-product" class="buybox-product">
                <div class="price-wrapper">
                    <span class="item-price"></span>
                </div>
                <div class="seller-wrapper">
                    <span class="item-seller-label"><?= __("Vendido e entrege por:") ?></span>
                    <span class="item-seller"></span>
                </div>
                <div class="action-wrapper actions">
                    <div class="qty-wrapper">
                        <div class="qty-field field qty">
                            <div class="control" is="qty-control">
                                <input type="number" class="input-text qty" title="<?= __('Qtd') ?>" value="1" maxlength="12" name="qty" />
                            </div>
                        </div>
                    </div>
                    <div class="button-wrapper">
                        <button class="action primary tocart" title="<?= __('Comprar') ?>" type="button" data-product-id="" data-assign-product-id="" data-add-to-cart-url="">
                            <span class="buy"><?= __('Comprar') ?></span>
                            <span class="buying"><?= __('Comprando') ?></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="more-offers" class="more-offers">
            <span class="more-offers-link">
                <a href="<?= $block->getCompareUrl() ?>"><?= __('Consulte aqui os valores e frete de todos os fornecedores') ?></a>
            </span>
        </div>
    </div>
    <script type="text/x-magento-init">
    {
        "body": {
            "Webkul_MpAssignProduct/js/buybox/addtocart": {}
        }
    }
    </script>
<?php endif; ?>
