.button-buy {
    background: var(--gradient-dark);
    height: 50px;
    text-transform: uppercase;
    color: var(--brightness);
    letter-spacing: 5px;
    font-weight: lighter;
    border: none;
    border-radius: 30px;
 }

 .price-and-shipping {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
 }

 .shipping-product {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
 }

 .shipping-product > * {
    padding: 10px;
 }

 .shipping-product .type{
    display: flex;
    flex-direction: column;
 }

 .shipping-product .price {
    display: flex;
    flex-direction: column;
 }

 .shipping-product .delivery-at {
    display: flex;
    flex-direction: column;
 }

 .table-wrapper {
    padding-top: 5%;
 }

 .table-wrapper table {
    color: var(--lightness);
    overflow:hidden;
    border-radius: 25px;
 }

 .table-wrapper th {
    text-align: center;
    background-color: var(--backgrounds);
    color: var(--shadow);
 }

 .table-wrapper td {
    border: solid 1px #ddd;
    vertical-align: middle;
 }

 .logo-store {
    width: 80px;
    height: 80px;
    background-color: #f5f5f5;
 }

 .price-product {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
 }

 .price-product .price, .price-and-shipping .price {
    font-size: 2rem;
    color: var(--shadow);
 }

 .price-product .color-text {
    color: var(--midtone);
 }

 .cep-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    border-top: solid 1px var(--lightness);
 }

 .cep-input {
    display: flex;
    flex-direction: row;
 }

 .cep-input .info{
    display: flex;
    flex-direction: column;
    padding-right: 2%;
 }

 .cep-input .input-wrapper {
    display: flex;
    flex-direction: row;
    background-color: var(--backgrounds);
    padding: 8px;
    border-radius: 30px;
 }

 .input-wrapper .input-cep {
    height: 40px;
    background-color: transparent;
    border: none;
 }

 .input-wrapper .button-cep {
    height: 40px;
    background-color: transparent;
    border: none;
    color: var(--midtone);
    box-shadow: none;
 }

 .comparison-title {
    color: var(--midtone);
    font-weight: bold;
    font-size: 2rem;
 }

 .thumb-compare{
    width: 200px;
    height: 200px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .compare-product-img {
    width: 100%;
 }

 .product-main {
    display: flex;
    width: 60%;
    padding-bottom: 5%;
 }

 .product-main .info {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
 }

 .info h1 {
    font-weight: bold;
    color: var(--midtone);
 }

 .info .sub-info {
    color: var(--highlight);
    display: flex;
    justify-content: space-between;
 }

 .info .link {
    color: var(--midtone);
    align-self: bottom;
 }

 @media only screen and (max-width: 600px) {
    .th-shipping-product, .td-shipping-product {
       display: none;
    }

    .th-price-product, .td-price-product {
       display: none;
    }

    .product-main {
       width: 100%;
    }
 }

/* Buybox */
.buybox-wrapper {
    .seller-container {
        height: 90px;
        background-color: var(--backgrounds);
        display: flex;
        font-weight: lighter;
        border-right: solid 1px #eee;

        &:first-child {
            border-radius: 0 25px 0px 0;
            border-top: solid 1px #eee;
        }

        &:last-child {
            border-radius: 0px 0px 25px 0px;
            border-bottom: solid 1px #eee;
        }

        &:only-child {
            border-radius: 0px 25px 25px 0px;
            border-top: solid 1px #eee;
            border-bottom: solid 1px #eee;
        }

        &.active {
             background-color: #fff;
        }

        .buybox-radio {
            &:before {
                content: '';
                width: 15px;
                height: 15px;
                border: solid 2px #ccc;
                border-radius: 50%;
                background: var(--backgrounds);
                position: absolute;
                margin-top: -2px;
                margin-left: -2px;
            }

            &:checked {
                &:before {
                    content: '';
                    border: solid 2px var(--midtone);
                    background: #fff;
                }

                &:after {
                    content: '';
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background: var(--midtone);
                    position: absolute;
                    margin-top: 5px;
                    margin-left: 5px;
                }
            }
        }
    }

    .action-wrapper {
        position: relative;
        margin-left: 15px;

        .qty-wrapper {
            position: absolute;
            top: 0;
            left: 0;
        }

        .button-wrapper {
            padding-left: 0px !important;
        }
    }
}
